@page "/rank"
@using RankMonkey.Client.Services

@inject HttpClient Http
@inject ILogger<Ranking> Logger
@inject CustomAuthStateProvider AuthStateProvider

<h1>Ranking</h1>

@if (userName != string.Empty)
{
    <p>Welcome, @userName!</p>
}

<EditForm Model="@model" OnValidSubmit="SubmitMetrics" class="mb-4">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
        <label for="currency" class="form-label">Currency</label>
        <InputSelect id="currency" @bind-Value="model.Currency" class="form-control">
            <option value="INR">INR</option>
            <option value="USD">USD</option>
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="income" class="form-label">Annual Income (@GetCurrencySymbol())</label>
        <InputNumber id="income" @bind-Value="model.Income" class="form-control"/>
        <ValidationMessage For="@(() => model.Income)"/>
    </div>

    <div class="mb-3">
        <label for="netWorth" class="form-label">Net Worth (@GetCurrencySymbol())</label>
        <InputNumber id="netWorth" @bind-Value="model.NetWorth" class="form-control"/>
        <ValidationMessage For="@(() => model.NetWorth)"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (ranking != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Your Rankings</h5>
            <p class="card-text">Your income is more than: @FormatPercentile(ranking.IncomePercentile) of users</p>
            <p class="card-text">Your net worth is more than: @FormatPercentile(ranking.NetWorthPercentile) of users</p>
        </div>
    </div>
}